{% extends 'base.html.twig' %}
{% block title %} Bienvenue sur le meilleure réseau d'appartement ! {% endblock %} 
{% block body %}
<div class="container">
   <div class="jumbotron mt-3">
      <h1 class="display-3">Bienvenue sur Symbnb</h1>
      <p class="lead">
         Nous mettons en relation les voyageurs et les proprio
      </p>
      <hr class="my-4">
      <p>Vous êtes voyageurs et vous voulez voir ou vous voulez voir ?</p>
      <p class="lead">
         <a class="btn btn-primary btn-lg" href="#" role="button">Voir Nos annonces</a>
      </p>
   </div>
   <h2 class="h1 mt-3">Nos appartements stars</h2>
   <div class="row">
      <div class="col-md-4">
         <div class="card bg-light mb-3">
            <div class="card-header text-center">
               3 chambres, <strong> 49 &euro; / nuit</strong><br>
               <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/100x400" alt="" style="height:200px; width: 100%; display:block" >
            <div class="card-body">
               <h4 class="card-title">
                  Appartement de ouf!
               </h4>
               <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam, et optio sequi placeat amet, minus rerum odio asperiores nulla culpa assumenda facere molestiae delectus adipisci? Eos vel id iure?
               </p>
               <a href="" class="btn btn-secondary">En savoir plus</a>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card bg-light mb-3">
            <div class="card-header text-center">
               3 chambres, <strong> 49 &euro; / nuit</strong><br>
               <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/100x400" alt="" style="height:200px; width: 100%; display:block" >
            <div class="card-body">
               <h4 class="card-title">
                  Appartement de ouf!
               </h4>
               <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam, et optio sequi placeat amet, minus rerum odio asperiores nulla culpa assumenda facere molestiae delectus adipisci? Eos vel id iure?
               </p>
               <a href="" class="btn btn-secondary">En savoir plus</a>
            </div>
         </div>
      </div>
      <div class="col-md-4">
         <div class="card bg-light mb-3">
            <div class="card-header text-center">
               3 chambres, <strong> 49 &euro; / nuit</strong><br>
               <small>Pas encore noté</small>
            </div>
            <img src="http://placehold.it/100x400" alt="" style="height:200px; width: 100%; display:block" >
            <div class="card-body">
               <h4 class="card-title">
                  Appartement de ouf!
               </h4>
               <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam, et optio sequi placeat amet, minus rerum odio asperiores nulla culpa assumenda facere molestiae delectus adipisci? Eos vel id iure?
               </p>
               <a href="" class="btn btn-secondary">En savoir plus</a>
            </div>
         </div>
      </div>
    <div class="row"></div>
    <h2 class="h1 mt-3">Nos Propriétaires stars ! </h2>
<div class="row mt-5">
    <div class="col">
        <div class="card border-secondary mb-3">
             <div class="card-body">
             <h4 class="card-title">
                Chkounda firdaouss
             </h4>
             <hr>
             <div class="card-text">
             <img class="float-left mr-3" src="http://placehold.it/64x64" alt="Avatar">
             <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam, et optio sequi placeat amet,
             </p>
             <a href="" class="btn btn-success float-right">
             En savoir plus
             </a>
             </div>
             </div>   

        </div>
    </div>

 <div class="col">
        <div class="card border-secondary mb-3">
             <div class="card-body">
             <h4 class="card-title">
                Chkounda firdaouss
             </h4>
             <hr>
             <div class="card-text">
             <img class="float-left mr-3" src="http://placehold.it/64x64" alt="Avatar">
             <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam, et optio sequi placeat amet,
             </p>
             <a href="" class="btn btn-success float-right">
             En savoir plus
             </a>
             </div>
             </div>   

        </div>
    </div>

</div>

    </div>


   </div>
</div>
{% endblock %}